#s-971152b1-74ef-4b88-a054-e75138e54749 > #backgroundBox {
  position: absolute;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 > #alignmentBox {
  position: relative;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_39 {
  position: absolute;
  width: 706.0px;
  min-height: 258.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_39 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_39 > .backgroundLayer > .colorLayer {
  background-color: #F9B7B7;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_39 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_39 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_39 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_39 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_39 span#rtr-s-Rectangle_39_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_35 {
  position: absolute;
  width: 621.3012228204127px;
  min-height: 89.30769230769226px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_35 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_35 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_35 span#rtr-s-Paragraph_35_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_36 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_36 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_36 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_36 span#rtr-s-Paragraph_36_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_32 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_32 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_32 span#rtr-s-Paragraph_32_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_1 {
  position: absolute;
  width: 256.0px;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_1 > .borderLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_2 {
  position: absolute;
  width: 45.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Path_16 {
  position: absolute;
  width: 20.64516258239746px;
  height: 20.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Path_32 {
  position: absolute;
  width: 20.645160675048828px;
  height: 20.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_2 {
  position: absolute;
  width: 17.796875px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_3 {
  position: absolute;
  width: 1024.0px;
  min-height: 99.99999999999994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: rgba(58,28,50,0.21);
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_11 {
  position: absolute;
  width: 92.13085937499989px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_15 {
  position: absolute;
  width: 44.00000000000037px;
  height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_3 {
  position: absolute;
  width: 44.00000000000037px;
  height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_3 {
  position: absolute;
  width: 92.13085937499989px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_1 {
  position: absolute;
  width: 706.0px;
  min-height: 258.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F9B7B7;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_8 {
  position: absolute;
  width: 621.3012228204127px;
  min-height: 89.30769230769226px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_6 {
  position: absolute;
  width: 256.0px;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_6 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_6 > .borderLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_6 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_7 {
  position: absolute;
  width: 45.0px;
  height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Path_1 {
  position: absolute;
  width: 20.64516258239746px;
  height: 20.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Path_2 {
  position: absolute;
  width: 20.645160675048828px;
  height: 20.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_13 {
  position: absolute;
  width: 17.796875px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_14 {
  position: absolute;
  width: 92.13085937499989px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_8 {
  position: absolute;
  width: 44.00000000000037px;
  height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_4 {
  position: absolute;
  width: 92.13085937499989px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Image_4 {
  position: absolute;
  width: 55.0px;
  height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_1 {
  position: absolute;
  width: 118.40624999999994px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(220,33,33,0.34);
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_1 > .borderLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_2 {
  position: absolute;
  width: 118.40624999999994px;
  min-height: 43.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(220,33,33,0.34);
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_2 > .borderLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 18.0px;
  border-top-right-radius: 18.0px;
  border-bottom-right-radius: 18.0px;
  border-bottom-left-radius: 18.0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-971152b1-74ef-4b88-a054-e75138e54749 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}